/*HeaderContainer1starts*/ 
.container1{background-color: black;
    height: 100%; 
}
.first1row{height: auto;
}
#logo{position: relative;
    width: auto;
    height:auto;
    top: 5px;
}
.row1con{word-spacing: 2px;
    color: #FFFFFFBF;
    font-weight: bold;
    font-family:  neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    word-spacing: 15px;
    text-align: right;
    top: 22px;
    font-size: 17px;
}
.upper{color: #FFFFFFBF;
}
.upper:hover{color: #646461;
    text-decoration: none;
}
.row2con{color: white;
    font-size: 15px;
    text-align: left;
}
.second1row{height: auto;
}
.third1row{height: auto;
    background-color:rgba(102, 94, 94, 0.3);   
}
.row3con{color: white;
    padding-top: 10px;
    text-align: center;   
}
#int{position: relative;
    font-size: 18px;
    right: 11px;
    top: 5px;
}
.button {border-radius: 6px;
    padding: 6px 20px;
    position: relative;
    bottom: 20px;
    color: #fff;
    background-color: #3371e3;
}    
.button:hover{text-decoration: none;
    color: #274471;
}
/*HeaderContainer1ends*/
/*Container2starts*/
.container2{margin-top: 50px;
}
#kub1{font-size: 22px;
}
#kub2{font-size: 15px;
}
#kub2 a:hover{text-decoration: none;
}
#flower{width: 440px;
    margin-top: 40px;
    max-width: 380px;
    max-height: 150px;
    height: 160px;
}
.container2row2{margin-top: 60px;
}
.sameimg{
    width: 100%;
    max-width: 150px;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.scalablecon1{text-align: left;
    position: relative;
}
.scalablecon2{text-align: left;
    top: 30px;
}
/*Container2ends*/

/*Container3starts*/
.container3{background-image: url("images/kub_video_banner_homepage.jpg");
    height: 580px;
    background-size: cover;
    max-width: 100%;
    background-repeat: no-repeat;
    margin-top: 100px;
}
#head{ font-size: 32px;
    line-height: 45px;
    margin-top: 50px;
    color:white;
    
}
#conimg{margin-top: 50px;
    color: white;
}
.button1{position: relative;
    top: 13px;
    font-size: 24px;
    background-color: #fff;
    border-radius: 8px;
    color: #3371e3;
    padding: 15px 30px 15px 80px;
    margin-bottom: 15px;
}
.button2{position: absolute;
    top: 285px;
    left: 50px;
    transform: translate(-50%,-60%);
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #3371e3;
}
.button3{position: absolute;
    font-size: 18px;
    background-color: #303030;
    border-radius: 8px;
    color: #fff;
    padding: 20px 10px
}
.button4{position: absolute;
    font-size: 18px;
    background-color: #303030;
    border-radius: 8px;
    color: #fff;
    padding: 20px 10px;
}
.button1:hover{text-decoration: none;
}
.button3:hover{text-decoration: none;
    color: #fff;
}
.button4:hover{text-decoration: none;
    color: #fff;
}
@media (max-width:780px){
    .hid{
        display: none;
    }
}
/*Container3ends*/

/*Container4starts*/
.container4{background-color: #F7F7F7;
}
.imagecen{display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 30px;
    height: 60px;
    width: 60px;
}
.feat{text-align: center;
    font-size: 28px;
    margin-top: 22px;
}
a:hover{text-decoration: none;
}
.con4h{font-size: 24px;
}
.con4p{font-size: 17px;
}
/*Container4ends*/

/*Container5starts*/
.container5{ margin-top:20px ;
}
.con5p{text-align: center;
    font-size: 24px;
}
.con5img{
    vertical-align: middle;
    width: 100%;
}
.con5{font-size: 21px;
    text-align: center;
    margin-top: 20px;
}
/*Container5ends*/

/*Container6starts*/
.container6{margin-top: 20px;
}
.con6p{text-align: center;
       font-size: 20px;
}
.con6img{display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
}
/*Container6ends*/

/*Container7starts*/
.container7{margin-top: 100px;
background-color: #F7F7F7;
height: 400px;
}
.con7p{padding-top: 100px;
       font-size: 20px;
       text-align: center;
}
.email{font-size: 15px;
    border: 1px solid #ABB0B2;
    border-radius: 3px;
    color: #343434;
    background-color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
    width: 100%;
    margin-top: 50px;
    height: 32px;
}
.buttonsub{font-size: 13px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #aaa;
    height: 32px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-left: auto;
    }
/*Container7ends*/

/*Container8starts*/
.container8{background-color:#303030;
    height: auto;   
}
.flinks{text-align: center;
    font-size: 17px;
    font-weight: 450;
    padding-top: 15px;
}
.iconrow{
    color: #fff;
    text-align: center;
}
.col12{
    max-width: 100%;
    position: relative;
    width: 100%;
    font-size: 12px;
    line-height: 24px;
}
.faicons{
    color: white;
    font-size: 26px;
    word-spacing: 5px;
}
a:hover{
    color: white;
}
/*Container8ends*/
